<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=HELMMessageDB;Persist Security Info=True;User ID=sa;Password=Passw0rd"/>
  </connectionStrings>
  <appSettings>
    <add key="isMock" value="0"/>
    <add key="isLocal" value="1"/>
    <add key="HubServer" value="127.0.0.1"/>
    <add key="UseProxy" value="False"/>
    <add key="ProxyAddress" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="AppId" value="wx573612f5fc672cc6"/>
    <add key="Secret" value="60761cfa90e3d75a5e427bca352a18f2"/>

    <add key="UserEmail" value="test@abc.com"/>
    <add key="From" value="test@xyz.net"/>
    <add key="FromEmailPwd" value="bobo"/>
    <add key="SmtpServer" value="smtp.xyz.net"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="contextPropagationBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" closeTimeout="00:10:01"
       sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62956/SendMessageService.svc"
                binding="basicHttpBinding"
                contract="Daimler.HELM.HubService.Contract.ISendMessageService"
                name="SendMessageService"
                behaviorConfiguration="contextPropagationBehavior"
                bindingConfiguration="basicHttpBindingConfig" />

    </client>
  </system.serviceModel>
</configuration>
