<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=HELMMessageDB;Persist Security Info=True;User ID=sa;Password=Passw0rd"/>
  </connectionStrings>
  <appSettings>
    <add key="isLocal" value="1"/>
    <add key="isMock" value="0"/>

    <add key="UserEmail" value="test@abc.com"/>
    <add key="From" value="test@xyz.net"/>
    <add key="FromEmailPwd" value="bobo"/>
    <add key="SmtpServer" value="smtp.xyz.net"/>
    <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="contextPropagationBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" closeTimeout="00:10:01"
       sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    
    </bindings>
    <client>
      <endpoint address="http://localhost:62956/SendMessageService.svc"
                binding="basicHttpBinding"
                contract="Daimler.HELM.HubService.Contract.ISendMessageService"
                name="SendMessageService"
                behaviorConfiguration="contextPropagationBehavior"
                bindingConfiguration="basicHttpBindingConfig" />

    </client>
  </system.serviceModel>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>-->
    <handlers>
      <add verb="*" path="*getToken" type="Daimler.HELM.PublicService.GetTokenHandler, Daimler.HELM.PublicService" name="GetTokenHandler"/>
      <add verb="*" path="*sendSMS" type="Daimler.HELM.PublicService.SendSMSHandler, Daimler.HELM.PublicService" name="SendSMSHandler"/>
    </handlers>
  </system.webServer>
</configuration>