<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=HELMMessageDB;Persist Security Info=True;User ID=sa;Password=Passw0rd"/>
  </connectionStrings>
  <appSettings>
    <add key="HubServer" value="."/>

    <add key="SingleEdmAccount" value="benz_notification"/>
    <add key="SingleSenderEmail" value="customer_service@e-mail.contact.mercedes-Benz.com.cn"/>
    <add key="SingleSenderName" value="DaimlerSingle"/>
    <add key="BatchEdmAccount" value="benz_edm"/>
    <add key="BatchSenderEmail" value="customer_service@email.contact.mercedes-Benz.com.cn"/>
    <add key="BatchSenderName" value="DaimlerBatch"/>
    <add key="ReplyTo" value="test@abc.com"/>
    <add key="EdmKey" value="Uo2SexDFXoNzuOZ5"/>
    <add key="EmailServerUrl" value="http://sendcloud.sohu.com/webapi/mail.send_template.json"/>

    <add key="SMSServerUrl" value="http://wt.3tong.net/http/sms/Submit"/>
    <add key="GetReportUrl" value="http://wt.3tong.net/http/sms/Report"/>
    <add key="GetReplyUrl" value="http://wt.3tong.net/http/sms/Deliver"/>
    <add key="MMSServerUrl" value="http://mms.3tong.net/http/mms"/>
    <add key="MMSZIP" value="D:/MMSZIP/mms.zip"/>
    <add key="VendorMock" value="0"/>
    <add key="RepeatPeriod" value="30000"/> <!--重发周期(毫秒)-->
    <add key="BatchSendPeriod" value="30000"/><!--批量发送周期(毫秒)-->
    <add key="GetSingleStatusPeriod" value="10000"/> <!--获取单条发送状态周期(毫秒)-->
    <add key="GetBatchStatusPeriod" value="10000"/> <!--获取多条发送状态周期(毫秒)-->
    <add key="GeReplyMessagePeriod" value="10000"/> <!--获取回复短信周期(毫秒)-->


    <add key="UseProxy" value="False"/>
    <add key ="ProxyAddress" value="http://53.90.130.51"/>
    <add key ="ProxyPort" value="3128"/>

    <add key="UserEmail" value="test@abc.com"/>
    <add key="From" value="test@xyz.net"/>
    <add key="FromEmailPwd" value="bobo"/>
    <add key="SmtpServer" value="smtp.xyz.net"/>
  </appSettings>
</configuration>