<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.52.12.x;Initial Catalog=HELMMessageDB;Persist Security Info=True;User ID=sa;Password=Passw0rd"/>
  </connectionStrings>
  <appSettings>
    <add key="isLocal" value="1"/>
    <add key="isMock" value="0"/>
    <add key="AppId" value="wx573612f5fc672cc6"/>
    <add key="Secret" value="60761cfa90e3d75a5e427bca352a18f2"/>
    <add key="RedirectUrl" value="https://helm-uat.mercedes-benz.com.cn/WechatWeb/AccountBind.aspx"/>
    <add key="SendSMSUrl" value="https://helm-uat.mercedes-benz.com.cn"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add verb="*" path="*oauth" type="Daimler.HELM.WechatWeb.OAuthHandler, Daimler.HELM.WechatWeb" name="OAuthHandler"/>
      <add verb="*" path="*ajax" type="Daimler.HELM.WechatWeb.AjaxHandler, Daimler.HELM.WechatWeb" name="AjaxHandler"/>
    </handlers>
  </system.webServer>
</configuration>