<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=HELMMessageDB;Persist Security Info=True;User ID=sa;Password=Passw0rd" />
  </connectionStrings>
  <appSettings>
    <add key="VendorMock" value="1" />
    <add key="VailAccount" value="dh23971" />
    <add key="VailPassWord" value="I7d%?C$z" />
    <add key="VailChannelCode" value="0300"/>
    <add key="VailSubCode" value="26182"/>
    <add key="MarktingAccount" value="dh23971" />
    <add key="MarktingPassWord" value="I7d%?C$z" />
    <add key="MarktingChannelCode" value="0198"/>
    <add key="MarktingSubCode" value="26181"/>


    <add key="MMSServerUrl" value="http://mms.3tong.net/http/mms"/>
    <add key="MMSZIP" value="D:/MMSZIP/mms.zip"/>
    <add key="SMSServerUrl" value="http://wt.3tong.net/http/sms/Submit" />
    <add key="GetReportUrl" value="http://wt.3tong.net/http/sms/Report" />
    <add key="GetReplyUrl" value="http://wt.3tong.net/http/sms/Deliver" />
    <add key="UseProxy" value="False" />
    <add key="ProxyAddress" value="" />
    <add key="ProxyPort" value="" />
    <add key="AppId" value="wx573612f5fc672cc6" />
    <add key="Secret" value="60761cfa90e3d75a5e427bca352a18f2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SendSMSURL" value=""/>
    <add key="VendorMock" value="0"/>
    <add key="HubServer" value="10.52.11.x"/>
    
    <add key="SingleEdmAccount" value="benz_notification"/>
    <add key="SingleSenderEmail" value="customer_service@e-mail.contact.mercedes-Benz.com.cn"/>
    <add key="SingleSenderName" value="梅赛德斯-奔驰"/>
    <add key="BatchEdmAccount" value="benz_edm"/>
    <add key="BatchSenderEmail" value="customer_service@email.contact.mercedes-Benz.com.cn"/>
    <add key="BatchSenderName" value="梅赛德斯-奔驰"/>
    <add key="EdmKey" value="Uo2SexDFXoNzuOZ5"/>
    <add key="ReplyTo" value="test@abc.com"/>
    <add key="EmailServerUrl" value="http://sendcloud.sohu.com/webapi/mail.send_template.json"/>

    <add key="UserEmail" value="test@abc.com"/>
    <add key="From" value="test@xyz.net"/>
    <add key="FromEmailPwd" value="test_email"/>
    <add key="SmtpServer" value="smtp.xyz.net"/>

    <add key="SendSMSURL" value="http://localhost:62188/SMSSendMessage.aspx"/>
    <add key="SendMMSURL" value="http://localhost:62188/MMSSendMessage.aspx"/>
    <add key="PublicServiceUrl" value="https://helm-uat.mercedes-benz.com.cn"/>


    <add key="EpReplyToCrmUrl" value="https://crm-int.mercedes-benz.com.cn/webservices/SmsResponse"/>
    <add key="EpReplyToCrmUrl2" value="https://crm-int.mercedes-benz.com.cn/webservices/SmsResponse"/>
    <add key="EpReplyToCrmName" value="AdminGUI"/>
    <add key="EpReplyToCrmPwd" value="AdminGUI"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="contextPropagationBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" closeTimeout="00:10:01"
          sendTimeout="01:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="Cmcc_mas_wbsSoapBindingSoap" />
        <binding name="SendEmailSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://helm-uat.mercedes-benz.com.cn/SendSMS.svc"
        behaviorConfiguration="contextPropagationBehavior" binding="basicHttpBinding"
        bindingConfiguration="basicHttpBindingConfig" contract="Daimler.HELM.PublicService.ISendSMS"
        name="SendMessageService" />
      <endpoint address="http://localhost:65189/Cmcc_mas_wbsSoapBinding.asmx"
        binding="basicHttpBinding" bindingConfiguration="Cmcc_mas_wbsSoapBindingSoap"
        contract="LMSSendService2.Cmcc_mas_wbsSoapBindingSoap" name="Cmcc_mas_wbsSoapBindingSoap" />
      <endpoint address="http://localhost:62188/SendEmail.asmx" binding="basicHttpBinding"
        bindingConfiguration="SendEmailSoap" contract="EPSendEmail.SendEmailSoap"
        name="SendEmailSoap" />
    </client>
  </system.serviceModel>
</configuration>