.Wdate{
	/*border:#999 1px solid;
	height:20px;*/
    font-family: "ו";
	font-size: 12px;
	font-style: normal;
	color: #000066;
	border: 1px solid #999999;
	behavior:url(../../TextBoxStyle.htc);
    background:#fff url(datePicker.gif) no-repeat right;

}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}