<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=HELMMessageDB;Persist Security Info=True;User ID=sa;Password=Passw0rd"/>
  </connectionStrings>
  <appSettings>
    <add key="HubServer" value="."/>
    <add key="Account" value="dh23971"/>
    <add key ="PassWord" value="I7d%?C$z"/>
    <add key="SMSServerUrl" value="http://wt.3tong.net/http/sms/Submit"/>
    <add key="VendorMock" value="1"/>
  </appSettings>
</configuration>