<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendEmailSoap1" />
        <binding name="Cmcc_mas_wbsSoapBindingSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://112.81.47.x:8081/SendEmail.asmx" binding="basicHttpBinding"
        bindingConfiguration="SendEmailSoap1" contract="SendEmailService.SendEmailSoap"
        name="SendEmailSoap1" />
      <endpoint address="http://localhost:65189/Cmcc_mas_wbsSoapBinding.asmx"
        binding="basicHttpBinding" bindingConfiguration="Cmcc_mas_wbsSoapBindingSoap"
        contract="SendLMSService.Cmcc_mas_wbsSoapBindingSoap" name="Cmcc_mas_wbsSoapBindingSoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=127.0.0.1;Initial Catalog=HELMMessageDB;Persist Security Info=True;User ID=sa;Password=Passw0rd"/>
  </connectionStrings>
  <appSettings>
    <add key="EpTestCaseFile" value="D:\Matthew\SourceCode\5.Test Management\Test Case\PerformanceTestCase0_EP.xls"/>
    <add key="POSTestCaseFile" value="D:\Matthew\SourceCode\5.Test Management\Test Case\PerformanceTestCase0_PoS.xls"/>
    <add key="TSBTestCaseFile" value="D:\Matthew\SourceCode\5.Test Management\Test Case\PerformanceTestCase0_TSB.xls"/>
    <add key="singleSleepTime" value="12000"/>
    <add key="batchSleepTime" value="60000"/>
    <add key="replySleepTime"  value="60000"/>
    <add key="ConcurrencyNumber"  value="2"/>
    <add key="EpSMSSendUrl" value="http://112.81.47.x:8080/SMSSendMessage.aspx"/>
    <add key="EpSMSGetStatusUrl" value="http://112.81.47.x:8080/SMSGetMessageStauts.aspx"/>
    <add key="EpMMSSendUrl" value="http://112.81.47.x:8080/MMSSendMessage.aspx" />
    <add key="EpMMSGetStatusUrl" value="http://112.81.47.x:8080/MMSGetStauts.aspx"/>

    <add key="posHost" value="localhost" />
    <add key="posChannel" value="SYSTEM.DEF.SVRCONN" />
    <add key="posPort" value="1414" />
    <add key="posQMName" value="QM_WIN_VBKFK6QN1QR" />
    <add key="posQName" value="qInPOS" />
    <add key="posUserID" value="root" />
    <add key="posPassword" value="!QAZ2wsx3edc" />

    <add key="tsbHost" value="localhost" />
    <add key="tsbChannel" value="SYSTEM.DEF.SVRCONN" />
    <add key="tsbPort" value="1414" />
    <add key="tsbQMName" value="QM_WIN_VBKFK6QN1QR" />
    <add key="tsbQName" value="qInTSB" />
    <add key="tsbQRName" value="qReplyTSB" />
    <add key="tsbUserID" value="root" />
    <add key="tsbPassword" value="!QAZ2wsx3edc" />

    <add key="NeedRunSMS" value="false"/>
    <add key="NeedRunMMS" value="false"/>
    <add key="NeedRunEmail" value="false"/>
    <add key="NeedRunLMS" value="false"/>
    <add key="NeedRunPOS" value="true"/>
    <add key="NeedRunTSB" value="true"/>
  </appSettings>
</configuration>